.header{
background-color: black;
color: red;
height: 80px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

#logo{
    width: 80px;
    height: 80px;
}
.nav{
    background-color: deeppink;
    color: white;
    height: 100px;
margin-top: -2%;
  
}
#ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3%;
}
.calc{
    background-color: rgb(24, 22, 23);
    color: white;
    display: flex;
flex-wrap: wrap;
justify-content: space-between; 
padding: 2%;
}
.main{
    background-color: aliceblue;
    height: 100px;


}
.footer{
    background-color: black;
    color: aliceblue;
     height: 100px;
}
.form{
 background-color: indigo;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3%;
}

#stat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 4%;
}
#income{
    color: green;
    background-color:rgb(225, 235, 231);
    height: 25px;
}
#expense{
    color: red;
    background-color:rgb(225, 235, 231);
    height: 25px;
}
.table{
    width: 100%;
    border: 2px solid pink;
    background-color: rgb(76, 207, 163);
    color:rgb(228, 17, 17)
}
tbody{
    width: 100%;
    height: 200%;
    border: 2px solid pink;
    background-color: black;
}
#edit{
    cursor: pointer;
    background-color: green;
}

#delete{
    cursor: pointer;
    background-color: red;

}